<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @business_partner_type.descripcion %>
</p>

<%= link_to 'Edit', edit_business_partner_type_path(@business_partner_type) %> |
<%= link_to 'Back', business_partner_types_path %>
