<div class="row wrapper border-bottom white-bg page-heading">
  <h2><%= page_name %></h2>
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active"><strong><%= link_to I18n.t(controller_name), index_url %></strong></li>
    </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
