<div class="row wrapper border-bottom white-bg page-heading">
  <h2><%= page_name %></h2>
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active"><strong>Socios de Negocios</strong></li>
    </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
