<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">SV+</h1>
    </div>
    <h3>Bienvenido a SV+</h3>
    <p>
      Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
    </p>
    <p>Login in. To see it in action.</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'm-t') do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email', required: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Contraseña', required: true %>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>

      <a href="#">
        <small>Forgot password?</small>
      </a>
    <% end %>
    <p class="m-t">
      <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small>
    </p>
  </div>
</div>