<form #f="ngForm" (ngSubmit)="save(f.value, f.valid)">
  <input type="hidden" name="id" [(ngModel)]="business_partner.id">
  <div class="row">
    <div class="col-sm-5">
      <select [(ngModel)]="business_partner.business_partner_type" name="business_partner_type" class="form-control" required>
        <option selected>Tipo</option>
        <option *ngFor="let business_partner_type of business_partner_types" [ngValue]="business_partner_type.id">
          {{business_partner_type.description}}
        </option>
      </select>
    </div>
    <div class="col-sm-5">
       <select [(ngModel)]="business_partner.coin" name="coin" class="form-control" required>
        <option selected>Moneda</option>
        <option *ngFor="let coin of coins" [ngValue]="coin.id">
          {{coin.description}}
        </option>
      </select>
    </div>
	<div class="col-sm-2">
      <label>
        <input type="checkbox" name="activo" required [(ngModel)]="business_partner.actived">
        Activo?
      </label>
    </div>
  </div>
</form>
